language: cpp
group: travis_latest

git:
  depth: 3
  quiet: true

os:
  - linux
  - osx
  
compiler:
  - clang
  - gcc

install:
  - mkdir build
  - cd build
  - cmake ..
  - make

script:
  - ./2048
